.header, .intro, .pre-footer, .footer {
	width: 100%;
	height: 100%;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
}


.produtos {
	margin-top: 40px;
}

.produtos h1 {
	font-family: Georgia, "Times New Roman", Arial;
	font-size: 36px;
	text-align: center;
	color: #9A6769;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.produtos h1:after {
	content: "";
	display: block; 
	width: 250px;
	height: 3px;
	background: #9A6769;
	margin: 8px auto;
	margin-top: 20px;
}


 .bolsa-preta, .produtos-info {
 	margin-top: 78.5px;
 	margin-left: 0px;
 }

 .produtos-info {
 	margin-top: 78.5px;
 	float: left;
 	padding: 85px 30px;
 	background-color: #9A6769;
 	margin-left: 130px;
 	height: 340px;
 	margin-bottom: 150px;
 }

 .produtos-info ul li p {
 	text-align: center;
 	font-size: 36px;
 	font-weight: bold;
 	color: #fff;
 	width: 400px;
 }

.produtos-info1 {
	text-align: center;
	font-size: 36px;
	color: #fff;
	list-style: none;
 	padding: 85px 30px;
 	background-color: #9A6769;
 	height: 340px;
 	float: left;
 	margin-bottom: 75px;
}
.produtos-info1 p {
	font-weight: bold;
}


 .bolsa-red {
 	float: right;
 	margin-bottom: 75px;
 }
.footer {
	height: 200px;
}
/*Estilo para tablet*/

 @media only screen and (min-width: 788px) and (max-width: 979px) { 
	

	body {
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.header, .intro, .pre-footer, .footer {
		width: 100%;
		height: 100%;
	}


	.bolsa-preta {
		margin-left: 40px;
	}
	.produtos-info {
		margin-left: 30px;
		height: 268px;
	}
	.produtos-info ul li p {
		font-size: 20px;
		margin-left: 30px;
		width: 240px;
	}
	
	.produtos-info ul{
		width: 300px;
	}

	.produtos-info1 {
		font-weight: bold;
		color: #fff;
		list-style: none;
		font-size: 20px;
		margin-left: 50px;
		height: 268px;
		width: 300px;
		overflow: hidden;
		text-align: center;
	}

	.bolsa-red  {
		margin-right: 55px;
	}

	.footer {
		height: 250px;
	}
}

/* Fim Estilo pra tablet */

/*Estilo para Celular */ 

@media only screen and (max-width: 787px) {
	

	body {
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.header, .intro, .pre-footer, .footer {
		width: 100%;
		height: 100%;
	}
	


	.header {
		height: 350px;
	}

	.header img {
		margin-left: 50px;
		margin-bottom: -6px;
	}
	
	.logo {
	display: block;
	margin-bottom: -20px;
	}

	.header-menu  {
		margin-top: 4px;
		display: inline;
	}
	
	.header-menu ul  {
		margin: auto;
		width: 180px;
		text-align: center;
	}
	
	.intro h1 {
		margin: 20px auto;
	}

	.produtos-info {
		margin-left: 0;
		margin-top: -20px;
		height: 200px;
		margin-bottom: 25px;
	}

	.produtos-info ul li  p {
		font-size: 18px;
		margin-left: -80px;
	}

	.produtos-info ul {
		width: 260px;
		margin-top: -25px;
	}

	.produtos-info1 {
		display: none;
	}

	.produtos-info1 ul li p {
		margin-top: -35px;
	}

	.bolsa-red {
		margin-bottom: 0px;
	}
	.footer {
		height: 250px;
	}
}

