html, body {
	overflow-y: auto;
	overflow-x: hidden;
}


.header {
	height: 200px;
	background: #CA989A;
	background-size: 200px 200px;
}

.header-menu {
	margin-top: 100px;
	margin-left: 450px;
}


.header-menu ul li {
	display: inline-block;
	list-style: none;
	font-size: 20px;
	margin-left: 16px;
}

.header-menu ul li a {
	color: #FFF;
	font-family: georgia, "Times New Romam", arial;
	font-weight: bold;
	text-transform: uppercase;
}

.header-menu ul li a:hover {
	color: #000;
}


.intro h1 {
	font-family: georgia, "Times new toman", arial;
	font-size: 36px;
	margin-top: 40px;
	text-align: center;
	color: #9A6769;
}

.intro h1:after {
	content: "";
	display: block; 
	width: 250px;
	height: 3px;
	background: #9A6769;
	margin: 8px auto;
	margin-top: 20px;
}

.intro ul {
	margin-top: 100px;
}

.intro div.bolsa-black, .intro div.bolsa-cinza {
	margin-top: 90px;
	margin-left: 0px;
	margin-right: 0px;
}

.intro div.bolsa-black {
	margin-left: 100px;
}

.pre-footer {
	margin-top: 100px;
	height: 175px;
	background-color: #E9CDC2;
}

.pre-footer p {
	font-family: georgia, "Times New Roman", Arial;
	font-size: 20px;
	line-height: 26px;
	color: #9A6769;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
}

.footer {
	background-color: #615E5E;
	height: 200px;
}

.footer h2, h3 {
	font-family: Georgia, "Times New Roman", Arial;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 25px;
	line-height: 22px;
}

.footer p {
	font-family: Georgia, "Times New Roman", Arial;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	line-height: 22px;
}

.historia {
	margin-top: 30px;
	float: left;
	margin-left: 0px;
}

.historia h2:after {
	content: "";
	width: 160px;
	height: 3px;
	background: #CA989A;
	display: block;
	margin-top: 10px;
}

.contato {
	margin-top: 30px;
	float: left;
	margin-left: 0px;
}

.contato h2:after {
	content: "";
	width: 100px;
	height: 3px;
	background: #CA989A;
	display: block;
	margin-top: 10px;
}

.redes {
	margin-top: 30px;
	float: right;
	margin-left: 0px;
	margin-right: 0px;
}

.redes a img {
	float: left;
	margin-right: 8px;
}

.redes h3:after {
	content: "";
	width: 150px;
	height: 3px;
	background: #CA989A;
	display: block;
	margin-top: 10px;
}

/* Estilo para Tablet */

@media only screen and (min-width: 788px) and (max-width: 979px) {


/* Estilos do Index */

body {
	overflow-y: auto;
	overflow-x: hidden;
}

* {
	overflow-x: hidden;
}

.header {
	height: 350px;
}


.llogo {
width: 200px;
margin-left: 290px;
display: block;
margin-bottom: -30px;
}
.header-menu  {
	display: inline;
}

.header-menu ul  {
	margin-top: 180px;
	margin-left: 290px;
	width: 180px;
	text-align: center;
	margin-bottom: 43px;
}


.bolsa-cinza img, .bolsa-black img {
	margin-left: 20px;
	height: 300px;
	width: 300px;;
}

.historia {
	display: none;
}

.contato {
	margin-left: 250px;
	font-style: 27px;
}

.contato p {
	line-height: 28px;
	text-align: center;
}
.contato h2 {
	margin-left: 90px;
}

.footer {
	height: 250px;
}
.redes {
	float: none;
	margin-top: 170px;
	margin-left: 270px;
	width: 350px;
}

.redes h3 { 
	display: none;
}

.redes img {
	margin-left: 25px;
}

}


/* Fim Estilo do Index */


/*Estilo para Celular */ 

@media only screen and (max-width: 787px) {

body {
	overflow-y: auto;
	overflow-x: hidden;
}
	

.header {
	height: 350px;
}

.logo {
margin: 0 auto;
display: block;
margin-bottom: -20px;
}
.header-menu  {
	display: inline;
}

.header-menu ul  {
	margin: auto;
	width: 180px;
	text-align: center;
}

.intro h1 {
	margin: 38px auto;
}

.bolsa-cinza, .bolsa-black {
	height: 300px;
	width: 300px;	
}

.bolsa-cinza img, .bolsa-black img {
	height: 300px;
	width: 300px;	
}

.bolsa-black img {
	margin-left: -100px;
}

.pre-footer {
	margin-top: 50px;
	height: 170px;
}

.footer {
	height: 250px;
	text-align: center;
}

.footer div.historia {
	float: none;
	display: none;
}

.contato {
	float: none;
	width: 300px;
	height: 100px;
;}

.contato h2 {
	font-size: 26px;
	margin-top: 20px;
}

.contato p {
	margin-top: -10px;
	line-height: 24px;
	font-style: normal;
}

.contato h2:after {
	content: "";
	width: 150px;
	height: 3px;
	background: #CA989A;
	display: block;
	margin-top: 15px;
	margin-left: 70px;
}

.footer div.redes {
	float: none;
	width: 350px;
}

.footer div.redes h3 {
	display: none;
}

.redes img {
	margin-top: 10px;
	margin-left: 36px;
}

}


